@using Entities
@using Business 

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Referencia</th>
            <th>Nombre producto</th>
            <th>Descripción del producto</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in products)
        {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
        </tr>
        }
    </tbody>
</table>

@code {
    IEnumerable<ProductEntity> products = new List<ProductEntity>();
    protected override async Task OnInitializedAsync()
    {
        products = new B_Product().ItemList();
    }
}
