@using Entities
@using Business 

<select class="form-control">
    <option>
        Seleccione una categoria...
    </option>
    @foreach (var item in categories)
    {
        <option value="@item.CategoryId" @onchange="OnCategoyChanges">@item.CategoryName</option>
    }
    </select>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Referencia</th>
            <th>Nombre producto</th>
            <th>Descripción del producto</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in products)
        {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
        </tr>
        }
    </tbody>
</table>

@code {
    IEnumerable<ProductEntity> products = new List<ProductEntity>();
    IEnumerable<CategoryEntity> categories = new List<CategoryEntity>();
    protected override async Task OnInitializedAsync()
    {
        products  = new B_Product().ItemList();
        categories = new B_Category().ItemList();
    }

    private void OnCategoyChanges(ChangeEventArgs e)
    {
        products.Where(x => x.CategoryId == e.Value.ToString());
    }
}
